<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-12 col-xl-12">
        <div class="card card-border-c-blue shadow mb-5">
            <div class="card-header">
                <div class="d-flex justify-content-start">
                    <h3 class="">Account </h3>
                </div>
            </div>

            <div class="card-body">

                <div class="row" class="mb-3">
                    <div class="col" *ngIf="showupload">
                        <span *ngFor="let logo of loghi">
                            <div class="container">
                                <img class="img-fluid"
                                    src="https://gestionalecero.it/user_data/p_{{operatore}}/{{logo.FILE_NAME}}"
                                    class="image">
                                <div class="overlay violet">
                                    <div class="text"><button mat-icon-button aria-label="Elimina logo"
                                            (click)="deleteLogo(logo.ID)">
                                            <mat-icon>delete_forever</mat-icon>
                                        </button></div>
                                </div>
                            </div>


                        </span>
                    </div>
                    <div class="col" *ngIf="!showupload" class="mb-5">
                        <!-- EDIT LOGO PARTNER-->
                        <div class="dropzone" appDnd (filesChangeEmiter)="onFileChangeAllegato($event)">
                            <input type="file" name="file" #fileDropRef id="fileDropRef"
                                (change)="onFileChangeAllegato($event.target.files)" multiple>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0
0 63 64">
                                <g fill="#3B454F" fill-rule="nonzero">
                                    <path d="M42.656 15.135a1.953 1.953 0 0 1-1.391-.578L31.5 4.795l-9.765
9.762a1.97 1.97 0 1 1-2.785-2.785L30.106.616a1.97 1.97 0 0 1 2.785
0l11.157 11.156a1.97 1.97 0 0 1-1.392 3.363z" />
                                    <path d="M31.5 36.791a1.97 1.97 0 0 1-1.969-1.969V2.01a1.97 1.97 0 0 1
3.938 0v32.812a1.97 1.97 0 0 1-1.969 1.969z" />
                                    <path d="M55.781 63.041H7.22A7.225 7.225 0 0 1 0 55.822V41.385a4.599
4.599 0 0 1 4.594-4.594h7.234a4.567 4.567 0 0 1 4.402
3.276l2.814 9.382a.658.658 0 0 0 .628.467h23.656a.658.658 0 0 0
.628-.467l2.814-9.385a4.572 4.572 0 0 1 4.402-3.273h7.234A4.599
4.599 0 0 1 63 41.385v14.437a7.225 7.225 0 0 1-7.219
7.219zM4.594 40.729a.656.656 0 0 0-.657.656v14.437a3.286 3.286 0
0 0 3.282 3.282H55.78a3.286 3.286 0 0 0
3.282-3.282V41.385a.656.656 0 0 0-.657-.656h-7.234a.65.65 0 0
0-.628.467L47.73 50.58a4.628 4.628 0 0 1-4.402
3.274H19.672a4.567 4.567 0 0 1-4.402-3.276l-2.814-9.382a.65.65 0
0 0-.628-.467H4.594z" />
                                </g>
                            </svg>

                            <h5 class="p-0 m-0">Drag and drop il logo della tua azienda oppure</h5>
                            <h5 class="p-0 m-0">o</h5>
                            <label for="fileDropRef">Seleziona file</label>
                        </div>
                        <div class="text-center" *ngIf="progressShow">
                            <hr>
                            <p> <b>{{progress}} %</b></p>
                            <hr>
                        </div>
                    </div>
                </div>

                <span *ngFor="let datipartner of datipartners">
                    <span *ngIf="!editdatipartner && showdatipartner" class="small">
                        <h4>{{datipartner.nome}}</h4>
                        <p><strong>Indirizzo: </strong><br>{{datipartner.indirizzo}}<br>{{datipartner.cap}} -
                            {{datipartner.localita}} ({{datipartner.provincia}}) - {{datipartner.nazione}}</p>
                        <p><strong>Partita Iva: </strong><br>{{datipartner.partita_iva}}</p>
                        <p><strong>Codice fiscale: </strong><br>{{datipartner.codice_fiscale}}</p>
                        <p><strong>Codice Univoco: </strong><br>{{datipartner.codice_destinatario}}</p>
                        <p><strong>Pec: </strong><br>{{datipartner.pec}}</p>
                        <mat-divider></mat-divider>
                        <div mat-dialog-actions align="end">
                            <button mat-icon-button color="primary" type="submit" class="icon-button-small"
                                matTooltip="Modifica dati" (click)="showformmodifica()">
                                <mat-icon style="margin:-4px 1px;font-size: 18px;">edit</mat-icon>
                            </button>
                        </div>
                    </span>




                    <!-- FORM EDIT PARTNER -->
                    <form [formGroup]="formEdit" (ngSubmit)="editDatiPartner(formEdit)" *ngIf="editdatipartner"
                        class="mt-5">
                        <div class="row">

                            <div class="col-xl-12 mb-2" class="small">
                                <mat-form-field appearance="fill" class="mat-small">
                                    <mat-label>Denominazione Azienda</mat-label>
                                    <input matInput maxlength="40" placeholder="Digita il testo da visualizzare"
                                        formControlName="testo" [(ngModel)]="datipartner.nome">
                                </mat-form-field>
                            </div>
                            <div class="col-xl-12 mb-2">
                                <mat-form-field appearance="fill" class="mat-small">
                                    <mat-label>Indirizzo</mat-label>
                                    <input matInput maxlength="40" placeholder="Digita il testo da visualizzare"
                                        formControlName="indirizzo" [(ngModel)]="datipartner.indirizzo">
                                </mat-form-field>
                            </div>
                            <div class="col-xl-12 mb-2">
                                <mat-form-field appearance="fill" class="mat-small">
                                    <mat-label>Località</mat-label>
                                    <input matInput maxlength="40" placeholder="Digita il testo da visualizzare"
                                        formControlName="localita" [(ngModel)]="datipartner.localita">
                                </mat-form-field>
                            </div>
                            <div class="col-xl-12 mb-2">
                                <mat-form-field appearance="fill" class="mat-small">
                                    <mat-label>Provincia</mat-label>
                                    <input matInput maxlength="40" placeholder="Digita il testo da visualizzare"
                                        formControlName="provincia" [(ngModel)]="datipartner.provincia">
                                </mat-form-field>
                            </div>
                            <div class="col-xl-12 mb-2">
                                <mat-form-field appearance="fill" class="mat-small">
                                    <mat-label>Cap</mat-label>
                                    <input matInput maxlength="40" placeholder="Digita il testo da visualizzare"
                                        formControlName="cap" [(ngModel)]="datipartner.cap">
                                </mat-form-field>
                            </div>
                            <div class="col-xl-12 mb-2">
                                <mat-form-field appearance="fill" class="mat-small">
                                    <mat-label>Nazione</mat-label>
                                    <input matInput maxlength="40" placeholder="Digita il testo da visualizzare"
                                        formControlName="nazione" [(ngModel)]="datipartner.nazione">
                                </mat-form-field>
                            </div>
                            <div class="col-xl-12 mb-2">
                                <mat-form-field appearance="fill" class="mat-small">
                                    <mat-label>Partita Iva</mat-label>
                                    <input matInput maxlength="40" placeholder="Digita il testo da visualizzare"
                                        formControlName="partita_iva" [(ngModel)]="datipartner.partita_iva">
                                </mat-form-field>
                            </div>
                            <div class="col-xl-12 mb-2">
                                <mat-form-field appearance="fill" class="mat-small">
                                    <mat-label>Codice Fiscale</mat-label>
                                    <input matInput maxlength="40" placeholder="Digita il testo da visualizzare"
                                        formControlName="codice_fiscale" [(ngModel)]="datipartner.codice_fiscale">
                                </mat-form-field>
                            </div>
                            <div class="col-xl-12 mb-2">
                                <mat-form-field appearance="fill" class="mat-small">
                                    <mat-label>Codice Destintario</mat-label>
                                    <input matInput maxlength="40" placeholder="Digita il testo da visualizzare"
                                        formControlName="codice_destinatario"
                                        [(ngModel)]="datipartner.codice_destinatario">
                                </mat-form-field>
                            </div>
                            <div class="col-xl-12 mb-2">
                                <mat-form-field appearance="fill" class="mat-small">
                                    <mat-label>Pec</mat-label>
                                    <input matInput maxlength="40" placeholder="Digita il testo da visualizzare"
                                        formControlName="pec" [(ngModel)]="datipartner.pec">
                                </mat-form-field>
                            </div>


                        </div>

                        <div mat-dialog-actions align="end">
                            <button mat-raised-button color="primary" type="submit"
                                [disabled]="!formEdit.valid">Salva</button>
                        </div>
                    </form>
                </span>




                <!--ADD DATI FORM-->

                <form [formGroup]="formAdd" (ngSubmit)="addDatiPartner(formAdd)" *ngIf="!showdatipartner">
                    <div class="row">

                        <div class="col-xl-12 mb-2">
                            <mat-form-field appearance="fill" class="mat-small">
                                <mat-label>Denominazione Azienda</mat-label>
                                <input matInput maxlength="40" placeholder="Digita il testo da visualizzare"
                                    formControlName="testo">
                            </mat-form-field>
                        </div>
                        <div class="col-xl-12 mb-2">
                            <mat-form-field appearance="fill" class="mat-small">
                                <mat-label>Indirizzo</mat-label>
                                <input matInput maxlength="40" placeholder="Digita il testo da visualizzare"
                                    formControlName="indirizzo">
                            </mat-form-field>
                        </div>
                        <div class="col-xl-12 mb-2">
                            <mat-form-field appearance="fill" class="mat-small">
                                <mat-label>Località</mat-label>
                                <input matInput maxlength="40" placeholder="Digita il testo da visualizzare"
                                    formControlName="localita">
                            </mat-form-field>
                        </div>
                        <div class="col-xl-12 mb-2">
                            <mat-form-field appearance="fill" class="mat-small">
                                <mat-label>Provincia</mat-label>
                                <input matInput maxlength="40" placeholder="Digita il testo da visualizzare"
                                    formControlName="provincia">
                            </mat-form-field>
                        </div>
                        <div class="col-xl-12 mb-2">
                            <mat-form-field appearance="fill" class="mat-small">
                                <mat-label>Cap</mat-label>
                                <input matInput maxlength="40" placeholder="Digita il testo da visualizzare"
                                    formControlName="cap">
                            </mat-form-field>
                        </div>
                        <div class="col-xl-12 mb-2">
                            <mat-form-field appearance="fill" class="mat-small">
                                <mat-label>Nazione</mat-label>
                                <input matInput maxlength="40" placeholder="Digita il testo da visualizzare"
                                    formControlName="nazione">
                            </mat-form-field>
                        </div>
                        <div class="col-xl-12 mb-2">
                            <mat-form-field appearance="fill" class="mat-small">
                                <mat-label>Partita Iva</mat-label>
                                <input matInput maxlength="40" placeholder="Digita il testo da visualizzare"
                                    formControlName="partita_iva">
                            </mat-form-field>
                        </div>
                        <div class="col-xl-12 mb-2">
                            <mat-form-field appearance="fill" class="mat-small">
                                <mat-label>Codice Fiscale</mat-label>
                                <input matInput maxlength="40" placeholder="Digita il testo da visualizzare"
                                    formControlName="codice_fiscale">
                            </mat-form-field>
                        </div>
                        <div class="col-xl-12 mb-2">
                            <mat-form-field appearance="fill" class="mat-small">
                                <mat-label>Codice Destintario</mat-label>
                                <input matInput maxlength="40" placeholder="Digita il testo da visualizzare"
                                    formControlName="codice_destinatario">
                            </mat-form-field>
                        </div>
                        <div class="col-xl-12 mb-2">
                            <mat-form-field appearance="fill" class="mat-small">
                                <mat-label>Pec</mat-label>
                                <input matInput maxlength="40" placeholder="Digita il testo da visualizzare"
                                    formControlName="pec">
                            </mat-form-field>
                        </div>


                    </div>

                    <div mat-dialog-actions align="end">
                        <button mat-raised-button color="primary" type="submit"
                            [disabled]="!formAdd.valid">Salva</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>