.mat-mdc-form-field {
    width: 100% !important;
  }
  .mat-mdc-list-base[dense] .mat-mdc-list-item, .mat-list-base[dense] .mat-list-option {
    height: 30px;
  }

  .example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  
  /*
   * This padding sets alignment of the nested nodes.
   */
  .example-tree .mat-nested-tree-node div[role=group] {
    padding-left: 40px;
  }
  
  /*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */
  .example-tree div[role=group] > .mat-tree-node {
    padding-left: 40px;
  }
  .example-tree .nested-node > .mat-tree-node {
    padding-left: 80px;
  }
  .example-tree > .mat-tree-node {
    padding-left: 40px;
  }
  .cursor-pointer {
    cursor: pointer!important;
  }
  .cursor-pointer:hover {
   background-color: #8d448b;
   color:white!important;
  }

  .mat-tree-node {
    min-height: 30px;
}