<div class="row mt-3">
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="card card-border-c-blue shadow mb-5">
            <div class="card-header">
                <div class="d-flex justify-content-start">
                    <h3 class=""> Report Email Inviate</h3>
                </div>
            </div>
            <div class="card-body" style="max-height:350px;overflow:auto;margin-bottom:15px;">
                <mat-list>
                    <span *ngFor="let reportmail of reportmails; let i=index">
                        <mat-list-item>

                            <span matListItemTitle class="mat-small">Inviato: <b>{{reportmail.nome_template}}</b>
                                il
                                <b>{{validDateFormat(reportmail.data_invio) | date: 'dd-MMM-yyyy'}}</b></span>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </span>
                </mat-list>
            </div>
            <div class="card-footer text-end">
                <a mat-icon-button href="https://gestionalecero.it/nuova_offerta.php?id_utente={{user}}" target="_blank"
                    placement="left" matTooltip="Nuovo Preventivo">
                    <mat-icon>note_add</mat-icon>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="card card-border-c-blue shadow mb-5">
            <div class="card-header">
                <div class="d-flex justify-content-start">
                    <h3 class=""> Invia mail da template</h3>
                </div>
            </div>
            <div class="card-body" style="max-height:350px;overflow:auto;margin-bottom:15px;">
                <mat-list>
                    <span  *ngFor="let automazione of automazioni; let i=index">
                    <span *ngIf="automazione.id!=125 && automazione.id!=141 && automazione.id!=147 && automazione.id!=148 && automazione.id!=149 && automazione.id!=150 && automazione.id!=161 && automazione.id!=175 && automazione.id!=176 && automazione.id!=187" >
                        <mat-list-item>
                            <span matListItemIcon class="mat-small"><button mat-icon-button
                                (click)="openDialog(automazione.id,user,automazione.name)"
                                class="btn-sm my-auto" matTooltip="Invia offerta per Email">
                                <mat-icon>email</mat-icon>
                            </button> </span>
                            <span matListItemTitle class="mat-small"><b>{{automazione.id}} - {{automazione.name}}</b></span>
                            <span matListItemLine class="mat-small">Nota: {{user}}<b></b> </span>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </span></span>
                </mat-list>
            </div>
            <div class="card-footer text-end">
                <a mat-icon-button href="https://gestionalecero.it/nuova_offerta.php?id_utente={{user}}" target="_blank"
                    placement="left" matTooltip="Nuovo Preventivo">
                    <mat-icon>note_add</mat-icon>
                </a>
            </div>
        </div>
    </div>
    </div>