            /* You can add global styles to this file, and also import other style files */
/* angular-cli file: src/styles.css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
html {
    height: 100%!important;
    padding:0px!important;
    margin:0px!important;
}            
body {
                /* padding-top: 3.5rem;*/
                font-family: "Roboto", sans-serif;
                height: 100%!important;
                padding:0px!important;
                margin:0px!important;
            }

            .violet {
                background-color: #8d448b !important;
                color: #fff;
            }

            .violet_bck {
                background-color: #8d448b !important;
            }

            .dataTables_length {
                margin-bottom: 3em;
            }

            .btn-primary {
                background-color: #8d448b !important;
                color: #fff;
            }

            .modal-title {
                color: #fff !important;
            }
            .modal-backdrop {
                display: none;
              }
            .card-border-c-blue {
                border-top: 4px solid #4099ff;
            }

            .card-border-c-red {
                border-top: 4px solid #ff0101;
            }

            .border-violet {
                border: 1px solid #8d448b;
            }

            .edit_field {
                box-shadow: 0 .3rem 0.5rem rgba(141, 68, 149, .15) !important;
                font-size: 1rem;
                padding: 0.5rem !important;
            }

            .small-text {
                font-size: 0.8em;
            }

            html,
            body {
                height: 100%;
            }

            body {
                margin: 0;
                font-family: Roboto, "Helvetica Neue", sans-serif;

            }

            .custom-modalbox>mat-dialog-container {
                background-color: #8d448b !important;
                color: white;
            }

            html,
            body {
                height: 100%;
            }

            body {
                margin: 0;
                font-family: Roboto, "Helvetica Neue", sans-serif;
            }

            .assegnato_idraulico {
                background-color: rgb(212, 239, 203) !important;
            }

            .mdc-text-field--filled:not(.mdc-text-field--disabled) {
                background-color: white !important;
            }

            .mdc-list-item__content {
                pointer-events: auto !important;
            }

            .mdc-list-item__start {
                pointer-events: auto !important;
            }

            .mdc-list-item--with-leading-icon .mdc-list-item__start {
                margin-left: 0px !important;
            }

            .mat-mdc-list-item.mdc-list-item--with-leading-icon.mdc-list-item--with-two-lines {
                height: auto !important;
            }

            .mat-mdc-dialog-container .mdc-dialog__surface {
                background-color: #8d448b !important;
            }

            .mat-mdc-dialog-container .mdc-dialog__title {
                color: white !important;
            }

            .mat-mdc-button:not(:disabled) {
                /*color: #fff!important;*/
            }
            .red{
                background-color: #abca59!important;
               /* border-radius: 999px!important;*/
            }
            .mat-calendar-body-selected {
                background-color: #f7a846!important;
                color: #fff;
            }
            .mat-mdc-tab-header{
                z-index: 0;
            }
            .mat-mdc-form-field {
                width: 100%;
              }
            