<app-header></app-header>
<section class="row mt-5">

    <div class="col-4">

        <div class="row">
            <div class="col-12">
                <div class="card card-border-c-blue shadow mb-5">
                    <div class="card-header">
                        <div class="d-flex justify-content-start">
                            <h3 class=""> Lista da richiamare che hanno acquistato il campione </h3>
                        </div>
                    </div>

                    <div class="card-body" style="max-height:250px;overflow:auto;margin-bottom:15px;">
                        <mat-list>
                            <span *ngFor="let campione of contatti_campione let i=index">
                                <mat-list-item>
                                    <span matListItemTitle class="mat-small">
                                        <a
                                            href="../vCard/VCard.php?id_dettaglio={{ campione.id_cliente
                            }}&nome={{campione.nome }}&cognome={{ campione.cognome
                            }}&telefono={{campione.telefono
                            }}&telefono_2={{campione.telefono2}}&email={{campione.email}}&indirizzo=${{campione.indirizzo}}&cap={{campione.cap}}&provincia={{campione.provincia}}&note={{campione.landing}}\"><i
                                                class="fa-solid fa-credit-card p-1"></i></a>

                                        <a href="javascript:void(0)"
                                            [routerLink]="['/dettaglio-contatto',campione.id]">{{campione.cognome}}
                                            {{campione.nome}}</a> campione spedito il
                                        {{validDateFormat(campione.spedizione) |
                                        date: 'dd-MMM-yyyy'}}</span>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                            </span>


                        </mat-list>

                    </div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-12">
                <div class="card card-border-c-blue shadow mb-5">
                    <div class="card-header">
                        <div class="d-flex justify-content-start">
                            <h3 class=""> Lista da richiamare da data lavori prevista </h3>
                        </div>
                    </div>

                    <div class="card-body" style="max-height:250px;overflow:auto;margin-bottom:15px;">
                        <mat-list>
                            <span *ngFor="let richiamare of contatti_richiamare let i=index">
                                <mat-list-item>
                                    <span matListItemTitle class="mat-small">
                                        <a
                                            href="../vCard/VCard.php?id_dettaglio={{ richiamare.id_cliente
                        }}&nome={{richiamare.nome }}&cognome={{ richiamare.cognome
                        }}&telefono={{richiamare.telefono
                        }}&telefono_2={{richiamare.telefono2}}&email={{richiamare.email}}&indirizzo=${{richiamare.indirizzo}}&cap={{richiamare.cap}}&provincia={{richiamare.provincia}}&note={{richiamare.landing}}\"><i
                                                class="fa-solid fa-credit-card p-1"></i></a>

                                        <a href="javascript:void(0)"
                                            [routerLink]="['/dettaglio-contatto',richiamare.id]">{{richiamare.cognome}}
                                            {{richiamare.nome}}</a> data lavori prevista
                                        {{validDateFormat(richiamare.richiamare_il) |
                                        date: 'dd-MMM-yyyy'}}</span>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                            </span>


                        </mat-list>

                    </div>
                </div>
            </div>

        </div>

        <div class="row" *ngIf="assegnabile==0">
            <app-lista-preventivi [operatore]="operatore"></app-lista-preventivi>
        </div>
        <div class="row" *ngIf="assegnabile==1">
            <app-dati-azienda-partner [operatore]="operatore"></app-dati-azienda-partner>
        </div>

    </div>
    <div class="col-8">
        <div class="row" *ngIf="id_ruolo==1 || operatore==18">

            <div class="col-12">
                <mat-accordion class="example-headers-align">
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Statistiche
                            </mat-panel-title>
                            <mat-panel-description>
                                solo per amministratori
                                <mat-icon>bar_chart</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <a href="javascript:void(0)" mat-fab extended [routerLink]="['/marketing']" class="mx-3">
                            <mat-icon>scatter_plot</mat-icon>
                            Marketing
                        </a>
                        <a href="javascript:void(0)" mat-fab extended [routerLink]="['/stat_operatori']" class="mx-3">
                            <mat-icon>sentiment_satisfied_alt</mat-icon>
                            Operatori
                        </a>
                        <a href="javascript:void(0)" mat-fab extended [routerLink]="['/stat_offerte']" class="mx-3">
                            <mat-icon>attach_money</mat-icon>
                            Offerte
                        </a>


                    </mat-expansion-panel>


                </mat-accordion>
            </div>

        </div>

        <div *ngIf="id_ruolo==3">
            <div class="card card-border-c-blue shadow mb-5">
                <div class="card-header">
                    <div class="d-flex justify-content-start">
                        <h3 class=""> Listino prezzi dei servizi </h3>
                    </div>
                </div>

                <div class="card-body" style="margin-bottom:15px;">
                    <table mat-table [dataSource]="dataSource" class="listino">

                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> Id </th>
                            <td style="width: 10%;" mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Prodotto </th>
                            <td style="width: 30%;" mat-cell *matCellDef="let element;let i = index">
                                <ng-container *ngIf="element.id && currentUpdateIndex != i">
                                    {{element.name}}
                                </ng-container>
                                <ng-container *ngIf="!element.id || currentUpdateIndex == i">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Prodotto/Servizio</mat-label>
                                        <input [(ngModel)]="element.name" matInput placeholder="">
                                    </mat-form-field>
                                </ng-container>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="desc">
                            <th mat-header-cell *matHeaderCellDef> Descrizione </th>
                            <td style="width: 30%;" mat-cell *matCellDef="let element;let i = index">
                                <ng-container *ngIf="element.id && currentUpdateIndex != i">
                                    {{element.name}}
                                </ng-container>
                                <ng-container *ngIf="!element.id || currentUpdateIndex == i">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Descrizione</mat-label>
                                        <input [(ngModel)]="element.desc" matInput placeholder="">
                                    </mat-form-field>
                                </ng-container>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="price">
                            <th mat-header-cell *matHeaderCellDef> Prezzo </th>
                            <td style="width: 30%;" mat-cell *matCellDef="let element;let i = index"> <ng-container
                                    *ngIf="element.id && currentUpdateIndex != i">
                                    {{element.price | currency:'EUR':true}} /h
                                </ng-container>
                                <ng-container *ngIf="!element.id || currentUpdateIndex == i">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Tariffa oraria</mat-label>
                                        <input [(ngModel)]="element.price" type="number" matInput placeholder="Nome..">
                                    </mat-form-field>
                                </ng-container>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> Azione </th>
                            <td style="width: 40%;" mat-cell *matCellDef="let element;let i = index">
                                <button style="margin: auto;text-align: center;" *ngIf=" currentUpdateIndex != i"
                                    mat-raised-button color="primary" (click)="deleteRow(element, i)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                <button style="margin: auto;text-align: center" *ngIf=" currentUpdateIndex == i"
                                    mat-raised-button color="primary" (click)="currentUpdateIndex = -1">
                                    <mat-icon>back</mat-icon>
                                </button>
                                <button style="margin: auto;text-align: center"
                                    *ngIf="!element.id || currentUpdateIndex == i" mat-raised-button color="accent"
                                    (click)="save(element, i)">
                                    <mat-icon>save</mat-icon>
                                </button>
                                <button style="margin: auto;text-align: center"
                                    *ngIf="element.id && currentUpdateIndex != i" mat-raised-button color="accent"
                                    (click)="currentUpdateIndex = i">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
                    </table>
                    <div style="float: left;">
                        <button mat-raised-button color="primary" (click)="add(element)">
                            Aggiungi una voce<mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>



</section>